.hero-video{
  background: linear-gradient(180deg, $brand-3, transparent 35%);
  position: relative;

  .video-wrap{
    width:100%;
    @include aspect(16, 9);
    position: relative; 

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
      background: rgba(0,0,0,.00); 
      transition: background .25s ease;
    }

    &.overlay-on::after { background: rgba(0,0,0,.22); }
    &.overlay-strong::after { background: rgba(0,0,0,.36); }
  }
}
