$brand-1: #d71d5c; // principal
$brand-2: #bc3662; // hover/oscuro
$brand-3: #fed0e3; // claro
$brand-4: #e085a4; // medio
$brand-5: #fffeff; // fondo
$text:    #222;

$font-main: 'Natura Sans', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
$radius-xl: 16px;
$btn-h: 40px;

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
